[DEFAULT]
show_image_direct_url = false
bind_host = {{ ansible_host }}
transport_url = rabbit://openstack:{{ rabbitmq_openstack_password }}@{{ keepalived_vip }}:{{ rabbitmq_tls_port }}
enabled_backends = {{ ('lvm' in storage_backends) | ternary('cinder:cinder', '') }}{{ ("ceph" in storage_backends) | ternary(',ceph:rbd', '') }}

{% if "ceph" in storage_backends %}
[ceph]
rbd_store_pool = images
rbd_store_user = glance
rbd_store_ceph_conf = /etc/ceph/ceph.conf
rbd_store_chunk_size = 8
rbd_thin_provisioning = True
{% endif %}

{% if "lvm" in storage_backends %}
[cinder]
cinder_store_auth_address = http://{{ keepalived_vip }}:{{ keystone_port }}/v3
cinder_store_user_name = cinder
cinder_store_password = {{ cinder_password }}
cinder_store_project_name = service
{% endif %}

[cors]
[database]
connection = mysql+pymysql://{{ os_service_name }}:{{ db_password }}@{{ keepalived_vip }}/{{ os_service_name }}?charset=utf8&ssl_ca={{ mariadb_ca_cert }}

[file]
[glance.store.http.store]
[glance.store.rbd.store]
[glance.store.swift.store]
[glance.store.vmware_datastore.store]

[glance_store]
default_backend = {{ ("ceph" in storage_backends) | ternary('ceph', 'cinder') }}

[image_format]
[keystone_authtoken]
www_authenticate_uri = http://{{ keepalived_vip }}:{{ keystone_port }}
auth_url = http://{{ keepalived_vip }}:{{ keystone_port }}
memcached_servers = {{ keepalived_vip }}:{{ memcached_port }}
auth_type = password
project_domain_name = default
user_domain_name = default
project_name = service
username = glance
password = {{ os_password }}

[oslo_concurrency]
lock_path = /var/lock/glance
[oslo_messaging_amqp]
[oslo_messaging_kafka]
[oslo_messaging_notifications]
driver = messagingv2
[oslo_messaging_rabbit]
ssl=true
ssl_version=TLSv1_2
ssl_ca_file={{ rabbitmq_ca_cert }}
[oslo_middleware]
[oslo_policy]
[paste_deploy]
flavor = keystone

[profiler]
[store_type_location_strategy]
[task]
[taskflow_executor]
[wsgi]
